/* -------------------------
   BASIC RESET
------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

button {
    background-color: #9ee870;
    border: none;
    color: #333;
    font-weight: bold;
    padding: 0.75rem 2rem;
    border-radius: 25px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #88d05b;
}

/* Temporarily unavailble */
.home .home-content button,
.our-benefits .our-benefits-name button,
.our-benefits-list .field .item .more,
.our-tecnologies .list .field .api .more,
.our-tecnologies .list .field .bluetooth-tecnologie .more {
    visibility: hidden;
}

/* -------------------------
   NAV BAR
------------------------- */
nav {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    backdrop-filter: blur(10px);
    padding: 0.6rem 0rem;
    border-radius: 999px;
    font-weight: bold;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #807f7f;
    font-weight: bold;
    padding: 0.6rem 0.9rem;
    border-radius: 999px;
}

nav a:hover,
nav a.active {
    background-color: #ffffff;
    color: black;
}

nav a.active {
    color: rgb(0, 209, 0);
    font-weight: bold;
}

/* -------------------------
   FOOTER
------------------------- */
footer {
    position: relative;
    bottom: 6rem;
    left: 15%;
    padding: 0.6rem 0rem;
    border-radius: 999px;
    font-weight: bold;
    z-index: 1;
    font-size: 0.8rem;
    max-width: 15%;
}

footer ul {
    display: flex;
    list-style: none;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.6rem 0.9rem;
    border-radius: 999px;
}

footer a:hover,
footer a.active {
    background-color: #9ee870;
    color: black;
}

footer a.active {
    color: black;
}

/* -------------------------
   COOKIE
------------------------- */
/* Basic styling for the cookie banner */
#cookie-banner {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    z-index: 1000;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
}

#cookie-banner button,
#cookie-settings button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

#settings-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1001;
    overflow-y: auto;
}

#settings-overlay .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

#cookie-banner button#decline-cookies {
    background-color: transparent;
    border: 1px solid #ccc;
    color: #333;
}

#details-content {
    position: relative;
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 5px;
}

.tab-buttons {
    display: flex;
}

.tab-button {
    padding: 10px 20px;
    border: none;
    background-color: #eee;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
}

.tab-button .active {
    background-color: #ddd;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.tab-content.active {
    display: block;
}

/* Style for the cookie details list */
#cookie-details-list li {
    margin-bottom: 10px;
}

#cookie-details-list strong {
    font-weight: bold;
}

/* Style for the cookie cookie-settings */
.switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.7rem;
    margin-bottom: 1rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1.7rem;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.3rem;
    width: 1.3rem;
    left: 0.2rem;
    bottom: 0.2rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: green;
}

input:focus+.slider {
    box-shadow: 0 0 0.1rem #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(1.5rem);
    -ms-transform: translateX(1.5rem);
    transform: translateX(1.5rem);
}

.switch-label {
    margin-left: 0.8rem;
    vertical-align: middle;
    font-weight: bold;
    font-size: 0.9rem;
}

/* -------------------------
   Floating button
------------------------- */
#floating-cookie-button {
    position: fixed;
    left: 20px;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
}

.language-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

.language-button img {
    width: 30px;
    height: 20px;
}

/* -------------------------
   HOME SECTION
------------------------- */
.home {
    /* Gradient plus background image */
    background:
        linear-gradient(120deg, rgba(41, 72, 255, 0.9) 0%, rgba(112, 157, 255, 0.1) 100%),
        url("images/park4dis-app-sample.png") center/cover no-repeat;

    /* Container settings */
    width: 95%;
    margin: 1rem auto;
    position: relative;
    border-radius: 30px;
    min-height: calc(90vh);
    overflow: hidden;
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    /* Flexbox to center content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

/* Main content (title + subtitle + button) */
.home-content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: #fff;
    max-width: 45%;
}

.home .home-content .title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.home .home-content .subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

/* Stats card in the bottom-right corner */
.home-stats-card {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    background-color: rgba(237, 239, 252, 1);
    color: #333;

    /* Specific corner rounding */
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;

    /* Increase padding for a larger card */
    padding: 2rem 3rem;
    gap: 2rem;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.home-stats-card .stat h2 {
    font-size: 3rem;
    text-align: center;
    color: #081f97;
    font-weight: 200;
}

.home-stats-card .stat p {
    font-weight: 500;
    color: #626964;
}

/* -------------------------
   OUR BENEFITS SECTION
------------------------- */
.our-benefits {
    position: relative;
    display: flex;
}

/* Main text (title and subtitle) */
.our-benefits-name {
    padding-left: 8%;
    padding-top: 15%;
    width: 50%;
}

.our-benefits-name .title {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.our-benefits-name .subtitle {
    font-weight: lighter;
    color: #626964;
    font-size: 1.3rem;
    margin-bottom: 3rem;
}

/* List of benefits (right part of 2x2 grid benefits) */
.our-benefits-list {
    width: 65%;
    padding-top: 10%;
    padding-left: 7%;
    padding-right: 5%;
    display: block;
}

.our-benefits-list .field {
    display: flex;
}

.our-benefits-list .field .item {
    background-color: #e0eafe;
    margin: 2%;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.our-benefits-list .field .item .title,
.our-benefits-list .field .item .subtitle,
.our-benefits-list .field .item .more {
    margin-left: 5%;
    margin-right: 15%;
}

.our-benefits-list .field .item .title {
    margin-top: 2rem;
    font-size: 0.8rem;
    height: 2rem;
    color: #3154e1;
    display: flex;
    align-items: center;
}

.our-benefits-list .field .item .subtitle {
    height: 4rem;
    font-size: 1rem;
    margin-top: 1rem;
    color: #6498ff;
    font-weight: normal;
}

.our-benefits-list .field .item .more {
    margin-top: 2rem;
    height: 4rem;
    font-size: 1rem;
    color: #97e372;
}

/* -------------------------
   OUR SOLUTIONS SECTION
------------------------- */
.our-solutions {
    padding-left: 5%;
    padding-right: 5%;
}

.our-solution {
    margin-top: 5%;
    display: flex;
}

.our-solution .title {
    margin-top: 0%;
    padding-left: 3%;
    width: 45%;
    font-size: 3.5rem;
}

.our-solution .subtitle {
    width: 55%;
    padding-left: 5%;
    color: #1c328d;
    line-height: 1.5;
    font-size: 1.2rem;
}

/* List of solutions (3x3 grid) */
.our-solutions-list {
    padding-top: 2%;
    display: block;
}

.our-solutions-list .field {
    display: flex;
}

.our-solutions-list .item {
    background-color: #e0eafe;
    margin: 2%;
    width: 25rem;
    height: 20rem;
    border-radius: 35px;
    display: grid;
    align-items: center;
}

.our-solutions-list .item .title {
    color: #152e92;
    font-size: 2rem;
    margin: 10%;
    text-align: center;
    align-items: center;
}

/* -------------------------
   PARK4DIS SUCCES EXAMPLE SECTION
------------------------- */
.park4dis-succes-sample {
    margin: 5%;
    position: relative;
}

.park4dis-succes-sample .image {
    border-radius: 25px;
    max-width: 100%;
}

/* Content */
.park4dis-succes-sample .content {
    position: absolute;
    color: white;
    left: 7%;
    max-width: 35%;
    top: 25%;
    text-align: left;
}

.park4dis-succes-sample .content .title {
    margin-bottom: 8%;
    font-size: 1.5rem;
}

.park4dis-succes-sample .content .subtitle {
    margin-bottom: 8%;
    font-size: 1rem;
    font-weight: 100;
}

.park4dis-succes-sample .content .more {
    color: #97e372;
    text-decoration: none;
}

/* -------------------------
   OUR CLIENTS SECTION
------------------------- */
.our-clients {
    margin: 5%;
    position: relative;
}

.our-clients .image {
    border-radius: 25px;
    max-width: 100%;
    position: relative;
}

.our-clients .title {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    top: 4%;
    font-size: 2.5rem;
}

/* -------------------------
   OUR TECNOLOGIES SECTION
------------------------- */
.our-tecnologies {
    background: #013199;
    position: relative;
    min-height: calc(90vh);
    align-items: center;
    padding-bottom: 10rem;
}

/* Main text (title and subtitle) */
.our-tecnologies .content {
    position: relative;
    text-align: center;
    top: 5rem;
    left: 50%;
    transform: translate(-50%, -0%);
}

.our-tecnologies .content .title {
    font-size: 1.5rem;
    color: #76dd35;
}

.our-tecnologies .content .subtitle {
    font-size: 2rem;
    margin-top: 2rem;
    color: #f2f3f6;
}

/* List of tecnologies */
/* General settings */
.our-tecnologies .list {
    margin-top: 8%;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

.our-tecnologies .list .field {
    display: flex;
}

.our-tecnologies .list .field .item {
    margin: 2%;
    width: 100%;
    height: 30rem;
    border-radius: 15px;
    padding: 1rem;
}

.our-tecnologies .list .field .item .title {
    margin-top: 3rem;
}

.our-tecnologies .list .field .item .title,
.our-tecnologies .list .field .title {
    font-size: 1.6rem;
    color: #cddaf8;
}

.our-tecnologies .list .field .item .subtitle {
    margin-top: 2rem;
    margin-right: 6rem;
}

.our-tecnologies .list .field .item .subtitle,
.our-tecnologies .list .field .subtitle {
    color: #cddaf8;
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: lighter;
}

/* labRa-sensors individual setting */
.our-tecnologies .list .field .labRa-sensors {
    background: url("images/lara-sensors.jpg") center/cover;
}

.our-tecnologies .list .field .labRa-sensors .title {
    color: black;
}

.our-tecnologies .list .field .labRa-sensors .subtitle {
    color: #2c429f;
}

/* inteligent-barrier individual setting */
.our-tecnologies .list .field .inteligent-barrier {
    background: url("images/inteligent-barrier.png") center/cover;
}

.our-tecnologies .list .field .inteligent-barrier .subtitle {
    margin-right: 7rem;
}

/* api individual setting */
.our-tecnologies .list .field .api {
    background-color: #013ab1;
    width: 50%;
}

.our-tecnologies .list .field .api .image {
    width: 2rem;
    height: 2rem;
}

.our-tecnologies .list .field .api .subtitle {
    margin-right: 2%;
}

.our-tecnologies .list .field .api .more {
    margin-top: 2rem;
    color: #8ad66b;
    font-size: 1rem;
}

/* bluetooth-tecnologie individual setting */
.our-tecnologies .list .field .bluetooth-tecnologie {
    background: url("images/bluetooth.jpg") right/cover;
}

.our-tecnologies .list .field .bluetooth-tecnologie .title {
    margin-top: 1rem;
    margin-bottom: 2%;
}

.our-tecnologies .list .field .bluetooth-tecnologie .more {
    color: #3399ff;
    font-size: 1rem;
}

.our-tecnologies .list .field .bluetooth-tecnologie .subtitle {
    width: 15rem;
}

/* biometry individual setting */
.our-tecnologies .list .biometry {
    background: url("images/biometry.png") right/cover;
    min-height: calc(70vh);
    margin: 1rem;
    border-radius: 15px;
    display: block;
}

.our-tecnologies .list .biometry .title,
.our-tecnologies .list .biometry .subtitle {
    margin-left: 2rem;
}

.our-tecnologies .list .biometry .title {
    color: black;
    padding-top: 5rem;
}

.our-tecnologies .list .biometry .subtitle {
    position: relative;
    width: 28rem;
    padding-top: 1rem;

    font-weight: bold;
    color: #808c95;
}

/* -------------------------
   WISE HUMAN CITY SECTION
------------------------- */
.wise-human-city {
    align-items: center;
    position: relative;
}

.wise-human-city .content {
    position: relative;
    top: 4rem;
    text-align: center;
    margin-bottom: 10rem;
}

.wise-human-city .content .title {
    font-size: 1rem;
    color: #939ea5;
}

.wise-human-city .content .subtitle {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: black;
}

.wise-human-city .content .button {
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.7rem 0.7rem;
}

/* -------------------------
   SMART WISE CITY SECTION
------------------------- */
.smart-wise-city {
    background-color: #013199;
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 35px;
    align-items: center;
}

.smart-wise-city .content {
    text-align: center;
    padding-bottom: 15rem;
}

.smart-wise-city .content .title {
    padding-top: 5rem;
    color: white;
    font-size: 3rem;
    line-height: 2;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
}

/* Simple responsive fix (example for smaller screens) */
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {

    /* -------------------------
        FOOTER
    ------------------------- */
    footer a {
        padding: 0.5rem;
    }

    /* -------------------------
        COOKIE
    ------------------------- */
    #cookie-banner {
        padding: 10px;
        /* Smaller padding on mobile */
    }

    #cookie-banner button {
        display: block;
        /* Button on its own line */
        margin: 10px auto 0;
        /* Center the button */
        width: 100%;
    }

    /* -------------------------
        HOME SECTION
    ------------------------- */
    .home-stats-card {
        left: 0rem;
        gap: 1rem;
        border-top-left-radius: 0px;
    }

    .home-stats-card .stat h2 {
        font-size: 2rem;
    }

    .home-stats-card .stat p {
        margin: 0rem 0.5rem;
        font-size: 0.7rem;
    }

    /* -------------------------
        OUR BENEFITS SECTIONS
    ------------------------- */
    .our-benefits-list {
        padding-top: 0%;
    }

    .our-benefits-list .field .item .title {
        margin-top: 1rem;
    }

    .our-benefits-list .field .item .subtitle {
        margin-top: 0.5rem;
        height: 6rem;
    }

    .our-benefits-list .field .item .more {
        margin-top: 4rem;
        height: rem;
        font-size: 1rem;
        bottom: 10rem;
    }

    /* -------------------------
        OUR SOLUTIONS SECTIONS
    ------------------------- */
    .our-solution {
        flex-direction: column;
    }

    .our-solution .subtitle {
        margin-top: 1rem;
        width: 100%;
        padding-left: 10%;
        font-size: 1.5rem;
    }

    /* -------------------------
        OUR CLIENTS SECTION
    ------------------------- */
    .our-clients .title {
        font-size: 1rem;
    }

    /* -------------------------
        OUR TECNOLOGIES SECTION
    ------------------------- */
    /* List of tecnologies */
    .our-tecnologies .list {
        padding-top: 10%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .our-tecnologies .list .field .item {
        margin: 1%;
        width: 100%;
        height: 15rem;
    }

    /* biometry individual setting */
    .our-tecnologies .list .biometry {
        min-height: calc(30vh);
        margin-left: 1%;
        margin-right: 1%;
    }

    /* -------------------------
        SMART WISE CITY SECTION
    ------------------------- */
    .smart-wise-city .content {
        padding-bottom: 10rem;
    }

    .smart-wise-city .content .title {
        font-size: 2rem;
        line-height: 1.5;
    }
}

/* Small devices (phones, 768px and down) */
@media (max-width: 768px) {

    /* -------------------------
        OUR BENEFITS SECTIONS
    ------------------------- */
    .our-benefits {
        flex-direction: column;
        align-items: center;
    }

    .our-benefits-name {
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
    }

    .our-benefits-list {
        width: 100%;
        padding-left: 5%;
    }

    .our-benefits-list .field .item .subtitle {
        height: 2rem;
        font-size: 1rem;
    }

    /* -------------------------
        OUR SOLUTIONS SECTIONS
    ------------------------- */
    .our-solution {
        margin-right: 5%;
        align-items: center;
    }

    .our-solution .title {
        margin-left: 0%;
    }

    .our-solutions-list .item {
        height: 5rem;
    }

    .our-solutions-list .item .title {
        font-size: 1rem;
    }

    /* -------------------------
        PARK4DIS SUCCES EXAMPLE SECTION
    ------------------------- */
    .park4dis-succes-sample .content {
        max-width: 35%;
        top: 40%;
    }

    .park4dis-succes-sample .content .title {
        font-size: 1rem;
        margin-bottom: 0%;
    }

    .park4dis-succes-sample .content .subtitle {
        visibility: collapse;
        margin-bottom: 0%;
        font-size: 0rem;
    }

    .park4dis-succes-sample .content .more {
        position: absolute;
        top: 2rem;
    }

    /* -------------------------
        OUR CLIENTS SECTION
    ------------------------- */
    .our-clients .title {
        font-size: 1.5rem;
    }

    /* -------------------------
        OUR TECNOLOGIES SECTION
    ------------------------- */
    /* List of tecnologies */
    .our-tecnologies .list {
        margin-top: 15%;
    }

    .our-tecnologies .list .field .item .title,
    .our-tecnologies .list .field .title {
        font-size: 2rem;
    }

    .our-tecnologies .list .field .item .subtitle,
    .our-tecnologies .list .field .subtitle {
        display: none;
    }

    /* api individual setting */
    .our-tecnologies .list .field .api .title {
        margin-top: 1rem;
    }

    .our-tecnologies .list .field .api .more {
        margin-top: 1rem;
        margin-top: 2%;
    }
}

/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {

    /* -------------------------
       BUTTON
    ------------------------- */
    .button {
        padding: 0.55rem 1rem;
        font-size: 1rem;
    }

    /* -------------------------
       NAV BAR
    ------------------------- */
    nav {
        top: 2rem;
    }

    nav ul {
        gap: 0rem;
    }

    nav a {
        padding: 0.5rem 0.5rem;
    }

    /* -------------------------
       HOME SECTION
    ------------------------- */
    .home {
        width: 95%;
        margin: 0.5rem auto;
        min-height: calc(90vh);
    }

    /* Main content (title + subtitle + button) */
    .home-content {
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        max-width: 100%;
    }

    .home .home-content .title {
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }

    .home .home-content .subtitle {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    .home-stats-card {
        gap: 2rem;
    }

    /* -------------------------
        OUR BENEFITS SECTIONS
    ------------------------- */
    .our-benefits-name {
        width: 50%;
    }

    .our-benefits-name .title {
        font-size: 2.5rem;
    }

    .our-benefits-list .field .item .more {
        margin-top: 5rem;
        height: 3rem;
        font-size: 1rem;
    }

    /* -------------------------
        OUR SOLUTIONS SECTIONS
    ------------------------- */
    .our-solution .title {
        margin-top: 0%;
        font-size: 2.5rem;
    }

    .our-solution .subtitle {
        line-height: 1.2;
        font-size: 1rem;
    }

    .our-solutions-list .item {
        width: 15rem;
        height: 10rem;
    }

    .our-solutions-list .item .title {
        font-size: 1rem;
    }

    /* -------------------------
        PARK4DIS SUCCES EXAMPLE SECTION
    ------------------------- */
    .park4dis-succes-sample .content .title {
        font-size: 1rem;
    }

    .park4dis-succes-sample .content .subtitle {
        font-size: 0.8rem;
    }

    /* -------------------------
        OUR TECNOLOGIES SECTION
    ------------------------- */
    /* List of tecnologies */
    .our-tecnologies .list {
        margin-top: 15%;
    }

    .our-tecnologies .list .field .item .subtitle,
    .our-tecnologies .list .field .subtitle {
        font-size: 1rem;
    }

    /* bluetooth-tecnologie individual setting */
    .our-tecnologies .list .field .bluetooth-tecnologie .subtitle {
        width: 7rem;
    }

    /* biometry individual setting */
    .our-tecnologies .list .biometry .title {
        margin-top: 3rem;
    }

    .our-tecnologies .list .biometry .subtitle {
        top: 0rem;
        bottom: 2rem;
        width: 20rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    /* -------------------------
        FOOTER
    ------------------------- */
    footer {
        font-size: 01rem;
    }

    /* -------------------------
       HOME SECTION
    ------------------------- */
    .home-stats-card {
        padding: 4rem 4rem;
        gap: 4rem;
    }

    /* -------------------------
        OUR BENEFITS SECTIONS
    ------------------------- */
    .our-benefits-list {
        width: 75%;
    }

    .our-benefits-list .field .item .subtitle {
        font-size: 1.2rem;
        height: 5rem;
    }

    /* -------------------------
        OUR SOLUTIONS SECTIONS
    ------------------------- */
    .our-solution .title {
        width: 45%;
        margin-top: 2%;
    }

    .our-solution .subtitle {
        width: 55%;
        padding-left: 2%;
        line-height: 1.5;
        font-size: 1.8rem;
    }

    .our-solutions-list .item .title {
        font-size: 2.5rem;
    }

    /* -------------------------
        PARK4DIS SUCCES EXAMPLE SECTION
    ------------------------- */
    .park4dis-succes-sample .content .title {
        font-size: 2rem;
    }

    .park4dis-succes-sample .content .subtitle {
        font-size: 1.2rem;
    }

    /* -------------------------
        OUR CLIENTS SECTION
    ------------------------- */
    .our-clients .title {
        font-size: 3.5rem;
    }

    /* -------------------------
        OUR TECNOLOGIES SECTION
    ------------------------- */
    .our-tecnologies .list .field .item .title,
    .our-tecnologies .list .field .title {
        font-size: 2rem;
    }

    .our-tecnologies .list .field .item .subtitle,
    .our-tecnologies .list .field .subtitle {
        font-size: 1.4rem;
    }

    /* bluetooth-tecnologie individual setting */
    .our-tecnologies .list .field .bluetooth-tecnologie .subtitle {
        width: 20rem;
    }
}