body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h5 {
    font-size: 12px;
}

button {
    background-color: #9ee870;
    border: none;
    color: black; 
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px; 
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
}

.home {
    position: relative;
    justify-content: center;
    align-items: center;
    left: -0.1%;
}

.home-item {
    position: absolute;
    color: white;
    left: 7%;
    max-width: 45%;
    text-align: left;
    z-index: 2;
}

.h1-home {
    top: 30%;
}

.h3-home {
    top: 50%;
    max-width: 43%;
}

.home-button {
    top: 70%;
    color: black;
}

.home-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image-container::after {
    content: "";
    position: absolute;
    width: 97%;
    height: 100%;
    max-width: 97%;
    border-radius: 25px;
    background: linear-gradient(to right, rgba(55, 87, 253, 1), rgba(0, 0, 255, 0.1));
    z-index: 1;
}

.home-image {
    max-width: 97%;
    border-radius: 25px;
}

.home-success-info {
    background-color: white;
    z-index: 3;
    position: absolute;
    display: flex;
    bottom: 0%;
    right: 1.5%;
    width: 45%;
    height: 28%;
    justify-content: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.home-success-count,
.home-success-text {
    margin-bottom: 0;
    margin-top: 0;
}

.home-success-column {
    margin-top: 8%;
    text-align: center;
    color: #081f97;
}

.home-success-count {
    font-size: 54px;
}

.our-benefits {
    position: relative;
    display: flex;
}

.our-benefits-name {
    padding-left: 10%;
    padding-top: 10%;
    width: 50%;
}

.our-benefits-name-item {
    margin-top: 10%;
}

.our-benefits-list {
    width: 50%;
    padding-top: 10%;
}

.our-benefits-list-item {
    background-color: #e0eafe;
    width: 35%;
    height: 25%;
    border-radius: 15px;
}